---
interface Props {
    projectname: string;
    tintvalues: string;
    projectId: string;
}
const { projectname, tintvalues, projectId } = Astro.props;
const imageurl = `src/assets/${projectname}cover.jpg`;
---
<input type="checkbox" id={`toggle-project-${projectId}`} hidden>
<label for={`toggle-project-${projectId}`} class="project" style={`background-image:linear-gradient(rgba${tintvalues}, rgba${tintvalues}),url(${imageurl});`}>
    <div class="project-inner">
        <span class="project-title">Click Me</span>
        <div class="project-details">
            <span class="project-summary">Quick summary goes here.</span>
        </div>
    </div>
</label>

<style>
.project {
    margin: 1rem;
    user-select: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: clamp(200px, 90%, 2100px);
    height: 10rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: height 0.3s ease, 
                background-color 0.3s ease,
                box-shadow 0.3s ease;
}
.project:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3),
                -10px -10px 10px white;
}
.project-inner {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.project-summary {
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.project-title {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.project-details {
    height: 0px;
    opacity: 1;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: white;
    color: #333;
}

input[type="checkbox"]:checked + .project {
    background-color: black;
    color: white;
    width: clamp(200px, 90%, 2100px);
    height: 30rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

input[type="checkbox"]:checked + .project .project-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-height: 30rem; 
    opacity: 1;
    background-color: white;
    color: #333;
    height: 30rem;
}

input[type="checkbox"]:checked + .project .project-title {
    visibility: hidden;
    height: 0;
}

input[type="checkbox"]:checked + .project .project-summary {
    font-size: 1.2rem;
    max-height: 200px; 
    opacity: 1;
}

</style>